{% extends "admin/base.html" %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h2>Quick Links</h2>
        <ul>
            <li><a href="{% url 'dashboard:index' %}"><i class="fas fa-arrow-left"></i> Back to Dashboard</a></li>
            <li><a href="{% url 'organisations:list' %}"><i class="fas fa-building"></i> Organizations</a></li>
            <li><a href="{% url 'users:user_list' %}"><i class="fas fa-users"></i> Sources</a></li>
            <li><a href="{% url 'users:agency_list' %}"><i class="fas fa-user-tie"></i> Agencies</a></li>
        </ul>
    </div>
</div>
{{ block.super }}
{% endblock %}