{% extends 'emails/base_email.html' %}

{% block title %}Reset Your Password - Social Light Extractor{% endblock %}
{% block subtitle %}Reset Your Password{% endblock %}

{% block content %}
<p>Hello {{ user.get_full_name|default:user.username }},</p>

<p>You have requested to reset your password for your Social Light Extractor account. Click the button below to set a new password:</p>

<div class="btn-wrap">
    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' token %}" class="button button--green">Reset Password</a>
</div>

<div class="notice">
    <strong>Security Notice:</strong> This link will expire in 24 hours for your security. If you didn't request this password reset, please ignore this email.
</div>

<p>If the button above doesn't work, you can copy and paste the following link into your browser:</p>

<div class="link">{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' token %}</div>

<p>Best regards,<br>The Social Light Team</p>
{% endblock %}
